# Global
NODE_ENV=development

# Multitenant
MULTITENANT=on
TENANT_RESOLUTION_STRATEGY=subdomain
DEFAULT_TENANT_ID=public

# Feature toggles
BILLING_ENABLED=false
EMAIL_ENABLED=false
ANALYTICS_WRITE_KEY=
INVITES_ENABLED=true

# Web (Next.js)
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=devsecret
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_MULTITENANT=on
NEXT_PUBLIC_TENANT_STRATEGY=subdomain

# API (Nest)
API_PORT=3001
JWT_SECRET=devjwtsecret
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/acme?schema=public
REDIS_URL=redis://localhost:6379

# Email
EMAIL_FROM="Acme <no-reply@acme.dev>"
RESEND_API_KEY=
POSTMARK_SERVER_TOKEN=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=